<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>isifileuploader</name>
	<displayName><![CDATA[ISIFileUploader]]></displayName>
	<version><![CDATA[1.3]]></version>
	<description><![CDATA[Permet d&#039;uploader des fichiers sur le serveur]]></description>
	<author><![CDATA[]]></author>
	<tab><![CDATA[ISI-Services]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>